* {
    margin: 0px;
}
body {
    margin: 0px;
}
.mt-10 {
    margin-top: 10px;;
}
.text-align-center {
    text-align: center;
}
.form-control {
    margin-top: 10px;
}
.parent-center {
    width: 40%;
    margin: auto;
    background: rgba(84, 84, 239, 0.079);
    height: 100vh;
    padding-top: 10px;
}