* {
    margin: 0px;
}
body {
    margin: 0px;
    overflow-x: hidden;
}
.mt-10 {
    margin-top: 10px;;
}
.text-align-center {
    text-align: center;
}
.form-control {
    margin-top: 10px;
}
.parent-center {
    width: 75%;
    margin: auto;
}
.card-custom-width {
    width: 21.4rem;
}
#sidebarMenu {
    height: 100vh;
    position: fixed;
    width: 16%;
}
#sidebarMenu, #sidebarMenu a {
    z-index: 2;
    color: rgba(255,255,255,.5);
    background-color: #007bff !important;
    border-color: #007bff !important;
}
.router-link-exact-active {
    color: white !important;
}
.navbar-header {
    position: fixed;
    width: 100%;
    z-index: 999;
    overflow-y: hidden !important;
}