* {
    margin: 0px;
}
body {
    margin: 0px;
}
.mt-10 {
    margin-top: 10px;;
}
.text-align-center {
    text-align: center;
}
.form-control {
    margin-top: 10px;
}
.parent-center {
    width: 75%;
    margin: auto;
}
.card-custom-width {
    width: 21.4rem;
}
.router-link-exact-active {
    color: white !important;
}